{% extends "header.html" %}
{% block title %} UN - Job Connect {% endblock %}

{% block style %}
<style>
    
</style>
{% endblock style %}

{% block main %}
<div class="d-flex align-items-center my-4 w-40 bg-body-tertiary">
    <main class="form-signin w-20 m-auto my-5 py-5">
        <form method="post">
            <h1 class="h3 mb-3 fw-normal">Reset Your Password</h1>

            <div>
                <label for="passwordInput">Type New Password</label>
                <div class="input-group mb-3">
                    <input type="password" id="passwordInput" class="form-control" placeholder="Password">
                    <span class="input-group-text">
                        <svg id="togglePassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                            <path
                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                        </svg>
                    </span>
                </div>
            </div>
            <div>
                <label for="passwordInput2">Confirm Password</label>
                <div class="input-group ">
                    <input type="password" id="passwordInput2" class="form-control" placeholder="Password">
                    <span class="input-group-text">
                        <svg id="togglePassword2" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                            fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                            <path
                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                        </svg>
                    </span>
                </div>
            </div>

            <div class="form-check text-start my-1">
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Save Password</button>
        </form>
    </main>
</div>
{% endblock main %}

{% block footer %}
{% include "footer.html" %}
{% endblock footer %}

{% block script %}
<script>
    const togglePassword = document.getElementById('togglePassword');
    const passwordInput = document.getElementById('passwordInput');

    togglePassword.addEventListener('click',
        function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });

    const togglePassword2 = document.getElementById('togglePassword2');
    const passwordInput2 = document.getElementById('passwordInput2');

    togglePassword2.addEventListener('click',
        function () {
            const type = passwordInput2.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput2.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });
</script>
{% endblock script %}